<template>
  <div class="input-container">
    <h2>Your answer</h2>

    <form class="AddNewForumPostAnswer-form" @submit.prevent="addNewForumPostAnswer" @input="showError = false">
      <div class="error" v-if="showError">{{errorMessage}}</div>
      <div class="success" v-if="showSuccess">{{successMessage}}</div>

      <div class="form-contents">
        <label>
          <span>Text</span>
          <textarea id="comment" placeholder="Enter text here..." v-model="text" />
        </label>

        <label>
          <span>Upload file</span>
          <input type="file" ref="uploadFileInput"/>
        </label>

        <button type="submit">Post your answer</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import formDataGenerator from '@/formDataGenerator';
import router from '@/router';

export default defineComponent({
  name: 'AddNewForumPostAnswer',
  props: {
    sessionId: String,
    userId: String,
    postId: String,
  },
  setup(props, context) {
    const text = ref<string>('');
    const showError = ref<boolean>(false);
    const showSuccess = ref<boolean>(false);
    const errorMessage = ref<string>('');
    const successMessage = ref<string>('');
    const uploadFileInput = ref<any>(undefined);
    const csrfToken = ref<string|undefined>(undefined);

    fetch(
      `${process.env.VUE_APP_API_URL}/session-api/generate-csrf-token.php`,
      {
        method: 'POST',
        credentials: 'include',
        body: formDataGenerator.generate({
          sessionId: props.sessionId,
        }),
      },
    ).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          csrfToken.value = content.token;
        }
      });

    return {
      text,
      showError,
      showSuccess,
      successMessage,
      errorMessage,
      uploadFileInput,
      addNewForumPostAnswer: async () => {
        if (!props.userId || !props.sessionId) {
          await router.push('/login');
          return;
        }

        if (!text.value) {
          showError.value = true;
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (!csrfToken.value) {
          showError.value = true;
          errorMessage.value = 'Something went wrong, reload the page and try again!';
          return;
        }

        let file: any = null;
        if (uploadFileInput.value) {
          const fileList = uploadFileInput.value.files;

          if (fileList && fileList[0]) {
            // eslint-disable-next-line prefer-destructuring
            file = fileList[0];
          }
        }

        const response = await fetch(
          `${process.env.VUE_APP_API_URL}/forum-api/create-comment.php`,
          {
            method: 'POST',
            credentials: 'include',
            body: formDataGenerator.generate({
              sessionId: props.sessionId,
              userId: props.userId,
              postId: props.postId,
              text: text.value,
              file,
              token: csrfToken.value,
            }),
          },
        );

        const body = await response.json();

        if (body.error) {
          showError.value = true;
          errorMessage.value = body.errorMessage;
          return;
        }

        if (body.success) {
          text.value = '';
          // eslint-disable-next-line vue/custom-event-name-casing
          context.emit('commentAdded');
        }
      },
    };
  },
});
</script>

<style lang="scss">
#comment {
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  height: 100px;
  resize: none;
  margin-bottom: 2em;
}
</style>
