<template>
  <div class="forum-post-answer">
    <div class="forum-post-answer-container" v-if="answer">
      <div class="forum-post-answer-text">
        <p>{{answer.text}}</p>
      </div>

      <div v-if="answer.file_contents">
        <img :src="`data:image/jpg;base64, ${answer.file_contents}`" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ForumPostAnswer',
  props: {
    answer: Object,
  },
});
</script>

<style lang="scss">
.forum-post-answer-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1em;

  img {
    max-height: 400px;
    max-width: 400px;
  }
}
</style>
