<template>
  <div class="forum-post-mini-container" @click.prevent="goToTopic">
    <div class="answers">
      <h3>{{answersCount}}</h3>
      <p>Answers</p>
    </div>
    <div class="content">
      <p>{{post.title}}</p>
    </div>
    <div class="post-extra-info">
      <span class="username">{{username}}</span>
      <span class="tag">{{post.tag}}</span>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, toRef, watch, ref,
} from 'vue';
import formDataGenerator from '@/formDataGenerator';
import router from '@/router';

export default defineComponent({
  name: 'ForumPostContainer',
  props: {
    sessionId: String,
    userId: String,
    post: Object,
  },
  setup(props) {
    const username = ref<string>('');
    const answersCount = ref<number>(0);

    watch(toRef(props, 'post'), (newPostValue) => {
      if (!newPostValue) {
        return;
      }

      fetch(`${process.env.VUE_APP_API_URL}/user-api/user.php`, {
        method: 'POST',
        credentials: 'include',
        body: formDataGenerator.generate({
          userId: newPostValue.user_id,
          allowWithoutSession: true,
        }),
      }).then((response) => response.json())
        .then((content) => {
          if (content.success) {
            username.value = content.user.username;
          }
        });

      fetch(`${process.env.VUE_APP_API_URL}/forum-api/get-comments-for-post.php`, {
        method: 'POST',
        credentials: 'include',
        body: formDataGenerator.generate({
          postId: newPostValue.id,
        }),
      }).then((response) => response.json())
        .then((content) => {
          if (content.success) {
            answersCount.value = content.comments.length;
          }
        });
    }, { immediate: true });

    return {
      username,
      answersCount,
      goToTopic: () => {
        router.push({ name: 'ForumPost', params: { id: props.post!.id } });
      },
    };
  },
});
</script>

<style lang="scss">
.forum-post-mini-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  text-align: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
.forum-post-mini-container h3 {
  font-size: 27px;
  text-align: center;
  margin-top: 30px;
}
.forum-post-mini-container p {
  font-size: 17px;
}
.content p {
  text-align: left;
  padding: 20px;
}
.post-extra-info {
  position: relative;
}
.post-extra-info .username {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-weight: bold;
}

.post-extra-info .tag {
  position: absolute;
  top: 10px;
  right: 5px;
  font-weight: bold;
}
</style>
