<template>
  <div>
    <div class="text-section page">
      <div class="headingOne-wrapper">
        <h1>{{topicName}}</h1>
      </div>

      <div class="text-container"><slot></slot></div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TopicPage',
  props: {
    topicName: String,
  },
});
</script>

<style>
.enumerationList {
  margin-left: 3vw;
}
.photos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.photos-container img {
  height: 300px;
  width: auto;
  margin-bottom: 3vh;
}
.codeBlock {
  background-color: #d3cecb;
  margin: 0 auto;
  padding: 1vw;
  width: fit-content;
}
.video-tutorial {
  width: 100%;
  margin: auto;
}
iframe {
  border-radius: 5px;
  width: 100%;
  height: 315px;
}
@media screen and (min-width: 900px) {
  .tutorial-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .video-tutorial {
    width: 400px;
    margin: auto;
  }
}
@media screen and (min-width: 1100px) {
  .tutorial-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .video-tutorial {
    width: 400px;
    margin: auto;
  }
}
</style>
