<template>
  <footer>
    <div class="information">
      <h3>Information</h3>
      <a href="#">About WD Forum</a>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Press</a>
      <a href="#">Buisness</a>
    </div>

    <div class="jobs">
      <h3>Jobs</h3>
      <a href="#">Open positions</a>
    </div>

    <div class="support">
      <h3>Support</h3>
      <a href="#">Help</a>
    </div>

    <!--FOLLOW US -->
    <div class="follow-us">
      <h3>Follow us</h3>
      <div class="follow-us-logos">
        <a href="#"><img src="../../assets/icons-footer/fb-logo.png" /></a>
        <a href="#"><img src="../../assets/icons-footer/linkedin-logo.png" /></a>
      </div>
    </div>

    <div class="logo-container">
      <a href="/"><img class="logo" src="../../assets/logo-WD.png" alt /></a>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
  </footer>
</template>

<script lang="ts">
import {
  defineComponent,
} from 'vue';

export default defineComponent({
  name: 'Footer',
  setup() {
    return {
    };
  },
});
</script>

<style lang="scss">
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #46646f;
  color: white;
  margin-top: 30px;
  text-align: left;
  padding: 40px;
}
.follow-us-logos img {
  width: 17px;
  height: 17px;
  padding: 12px;
}
.information > a {
  display: block;
}
.logo {
  max-width: 200px;
  margin-top: -25px;
}
.logo-container p {
  margin-top: -40px;
  padding: 10px;
}
@media screen and (max-width: 770px) {
  footer {
    display: block;
    height: 100%;
  }
  footer > div:not(:last-child) {
    margin: 20px;
  }
}
</style>
