<template>
  <nav>
    <a href="/">
      <img class="logo-nav" src="../../assets/logo-WD.png" alt />
    </a>

    <div class="pages" id="navbar">
      <div class="not-logged-in-pages" v-if="!sessionId">
        <a id="forum-link"><router-link to="/forum">Forum</router-link></a>
        <router-link to="/login">Login</router-link>
        <router-link to="/sign-up">Sign up</router-link>
      </div>

      <div class="logged-in-pages" v-if="sessionId">
        <a><router-link to="/forum">Forum</router-link></a>
        <a><router-link to="/courses" v-if="user && user.premium === '1'">Courses</router-link></a>
        <a><router-link to="/my-account">My Account</router-link></a>
        <a @click="logout">Logout</a>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import router from '@/router';

export default defineComponent({
  name: 'NavBar',
  props: {
    sessionId: String,
    user: Object,
  },
  setup(props, context) {
    return {
      logout: async () => {
        await fetch(`${process.env.VUE_APP_API_URL}/session-api/logout.php`);
        sessionStorage.removeItem('sessionId');

        context.emit('logout');
        await router.push('/');
      },
    };
  },
});
</script>

<style lang="scss">
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #46646f;
  padding: 0 3vw;
  height: 70px;
}
.logo-nav {
  align-self: flex-start;
  width: 100%;
  max-width: 200px;
}
.search-container {
  width: 600px;
  border-radius: 25px;
  height: 20px;
  margin-bottom: 15px;
}
div.pages {
  display: flex;
  flex-direction: row;
  div.not-logged-in-pages > *, div.logged-in-pages > * {
    margin-left: 1vw;
  }
}
.not-logged-in-pages, .logged-in-pages {
  a {
    color: white;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 770px) {
  .pages.responsive {
    position: relative;
    overflow: hidden;
  }
  .pages.responsive {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .pages.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
