<template>
  <section class="quiz-section">
    <div class="go-to-quiz">
      <h2>TAKE THE QUIZ</h2>
      <p>And get a diploma</p>
      <button class="btn-goToQuiz" @click.prevent="goToQuiz">START</button>
    </div>
  </section>

</template>

<script lang="ts">
import { defineComponent } from 'vue';
import router from '@/router';

export default defineComponent({
  name: 'TakeAQuizSection',
  props: {
    quizId: Number,
  },
  setup(props) {
    return {
      goToQuiz: () => {
        router.push({ name: 'quiz', params: { id: props.quizId! } });
      },
    };
  },
});

</script>

<style lang="scss">
.quiz-section {
  margin: 40px 0;
  background-image: url("../../assets/quiz/screen.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(61, 60, 60, 0.26);
}
.go-to-quiz {
  width: 200px;
  background-color: rgba(245, 245, 245, 0.842);
  text-align: center;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.go-to-quiz p {
  font-size: 20px;
}
.forum-container {
  margin: auto 40px;
}

@media screen and (min-width: 450px) {
  .go-to-quiz {
    width: 500px;
    background-color: rgba(245, 245, 245, 0.842);
    text-align: center;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .forum-container {
    width: 700px;
    margin: auto 40px;
  }
}
@media screen and (min-width: 900px) {
  .forum-container {
    width: 900px;
  }
}
@media screen and (min-width: 1100px) {
  .go-to-quiz {
    width: 500px;
    background-color: rgba(245, 245, 245, 0.842);
    text-align: center;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
  }
  .forum-container {
    width: 1000px;
    margin: auto 40px;
  }
}
</style>
