<template>
  <div class="tutorial-wrapper">
    <div class="video-tutorial" v-for="tutorial in videoTutorials" :key="tutorial.tutorialId">
      <iframe :src="tutorial.videoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen />
      <h2>{{tutorial.tutorialName}}</h2>
      <p>{{tutorial.tutorialText}}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'VideoTutorials',
  props: {
    videoTutorials: Array,
  },
});
</script>

<style lang="scss">
.tutorial-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.video-tutorial {
  width: 400px;
  margin: auto;
}
.video-tutorial > h2 {
  text-align: left;
  margin-bottom: 0;
}
.video-tutorial > p {
  margin-top: 0;
}
iframe {
  border-radius: 5px;
  width: 100%;
  height: 315px;
}
</style>
