<template>
  <main>
    <Navbar :sessionId="sessionId" :user="user" @logout="sessionId = null" />
    <router-view v-model:sessionId="sessionId" v-model:userId="userId" :user="user" />
    <Footer />
  </main>
</template>

<script lang="ts">
import {
  defineComponent, ref, watch,
} from 'vue';
import Navbar from '@/components/layout/Navbar.vue';
import Footer from '@/components/layout/Footer.vue';
import formDataGenerator from '@/formDataGenerator';

export default defineComponent({
  name: 'App',
  components: {
    Navbar,
    Footer,
  },
  setup() {
    const sessionId = ref<string|null>(null);
    const userId = ref<string|null>(null);
    const user = ref<any>(undefined);

    sessionId.value = sessionStorage.getItem('sessionId');
    userId.value = sessionStorage.getItem('userId');

    watch([sessionId, userId], ([newSessionId, newUserId]) => {
      if (!newSessionId || !newUserId) {
        return;
      }

      fetch(`${process.env.VUE_APP_API_URL}/user-api/user.php`, {
        method: 'POST',
        credentials: 'include',
        body: formDataGenerator.generate({
          userId: userId.value,
          sessionId: sessionId.value,
        }),
      }).then((response) => response.json())
        .then((content) => {
          if (content.success) {
            user.value = content.user;
          }
        });
    }, { immediate: true });

    return {
      sessionId,
      userId,
      user,
    };
  },
});
</script>

<style lang="scss">
// general application styling
html, body, #app {
  margin: 0;
  height: 100%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

h3, h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

//general page styling
.page {
  margin: 20em auto;
  padding: 0 60px;
}

// general button styling
button {
  width: 40%;
  height: 3em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #fa9c06;
  color: white;

  &:hover {
    box-shadow: 4px 8px 8px rgba(0,0,0,0.3);
  }
}

// form submit buttons
button.is-submit {
  width: 40%;
}

// general input styling
input {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  background: #fff;
  color: #333;
  border-radius: 5px;
  border: solid 1px #EBE5E1;
  padding: 10px;
  margin-bottom: 20px;
}

.page {
  width: 80vw;
  margin: 1em auto;
}

// general label styling
label {
  display: flex;
  flex-direction: column;
}

// general error and succes styling
.success {
  color: darkgreen;
  text-align: center;
  margin-bottom: 1em;
}

.error {
  color: darkred;
  text-align: center;
  font-size: 1.125em;
  margin-bottom: 1em;
}

//general login-signup for layout
.login-signup-form {
  background-color: #e9e3e0;
  width: 50vw;
  margin: 2em auto;
  padding: 2em;
  border-radius: 5px;
}

.login-signup-form h1 {
  text-align: center;
}

.login-signup-form a {
  color: #fa9c06;
}

//general help text styling
.help-text {
  color: rgba(0,0,0,0.4);
  margin-top: -1em;
 }
</style>
