<template>
  <div class="welcome page">
    <h1 v-if="user">Welcome <strong>{{user.username}}</strong></h1>

    <!-- COURSES/TOPICS SECTION -->
    <div class="allCourses">
      <TopicBox v-for="topic in topics" :topic="topic" :key="topic.id" :name="topic.name" @click.prevent="goToTopic(topic.link)" />
    </div>

    <!-- FORUM SECTION -->
    <QuestionBanner :sessionId="sessionId" :userId="userId"/>
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, ref } from 'vue';
import TopicBox from '@/components/topics/TopicBox.vue';
import formDataGenerator from '@/formDataGenerator';
import QuestionBanner from '@/components/layout/QuestionBanner.vue';
import router from '../router';

export default defineComponent({
  name: 'Courses',
  components: {
    TopicBox,
    QuestionBanner,
  },
  props: {
    userId: String,
    user: Object,
    sessionId: String,
  },
  setup(props) {
    onBeforeMount(() => {
      if (!props.userId || !props.sessionId || !props.user) {
        router.push('/login');
      }

      if (props.user && props.user.premium === '0') {
        router.push('/my-account');
      }
    });

    const topics = ref<any>([]);

    fetch(`${process.env.VUE_APP_API_URL}/topics-api/topics.php`, {
      method: 'POST',
      credentials: 'include',
      body: formDataGenerator.generate({
        sessionId: props.sessionId,
      }),
    }).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          topics.value = content.topics;
        }
      });

    return {
      topics,
      goToTopic(link: string) {
        router.push(link);
      },
    };
  },
});
</script>

<style lang="scss">

.needHelp-container > h2 {
  text-align: center;
}
@media screen and (min-width: 450px) {
  .allCourses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1100px) {
  .allCourses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }
  .needHelp-container {
    width: 500px;
    margin: auto;
    text-align: center;
  }
  .needHelp-container > h2 {
    margin: 30px 0 0 0;
    font-size: 25px;
  }
  .needHelp-container > p {
    margin: 0 0 30px 0;
    font-size: 25px;
  }
}
</style>
