<template>
  <div class="EditProfile-page page">
    <form class="payment-form login-signup-form" @submit.prevent="upgradeToPremium" @input="showError = false">
      <h1 class="form-heading">Upgrade to premium</h1>
      <h2>For only 12dkk/month</h2>

      <div class="error" v-if="showError">{{errorMessage}}</div>
      <div class="success" v-if="showSuccess">{{successMessage}}</div>

      <h3>Accepted Cards</h3>
      <div class="icon-container">
        <i class="fa fa-cc-visa" style="color: navy;"></i>
        <i class="fa fa-cc-amex" style="color: blue;"></i>
        <i class="fa fa-cc-mastercard" style="color: red;"></i>
      </div>

      <div class="form-contents">
        <label>
          <span>Credit card number</span>
          <input type="text" placeholder="1111222233334444" v-model="cardNumber" required />
        </label>

        <label>
          <span>Name on card</span>
          <input type="text" placeholder="Anders Andersen" v-model="cardName" required />
        </label>

        <div class="cvv-expiry">
          <div class="expiry">
            <label>
              <span>Expiry Date</span>
              <div class="expiry-divider">
                <input type="number" class="month" placeholder="02" v-model="month"/>
                <input type="number" class="year" placeholder="2017" v-model="year"/>
              </div>
            </label>
          </div>

          <div class="cvv">
            <label>
              <span>CVV No.</span>
              <input type="number" class="cvv" placeholder="123" v-model="cvvNumber" required />
            </label>
          </div>
        </div>
        <button type="submit">Upgrade to premium</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import router from '@/router';
import formDataGenerator from '@/formDataGenerator';

export default defineComponent({
  name: 'EditProfile',
  props: {
    sessionId: String,
    userId: String,
  },
  setup(props) {
    const cardNumber = ref<string>('');
    const cardName = ref<string>('');
    const month = ref<string>('');
    const year = ref<string>('');
    const cvvNumber = ref<string>('');
    const showError = ref<boolean>(false);
    const showSuccess = ref<boolean>(false);
    const errorMessage = ref<string>('');
    const successMessage = ref<string>('');
    const csrfToken = ref<string|undefined>(undefined);

    onMounted(() => {
      if (!props.userId || !props.sessionId) {
        router.push('/login');
      }
    });

    fetch(
      `${process.env.VUE_APP_API_URL}/session-api/generate-csrf-token.php`,
      {
        method: 'POST',
        credentials: 'include',
        body: formDataGenerator.generate({
          sessionId: props.sessionId,
        }),
      },
    ).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          csrfToken.value = content.token;
        }
      });

    return {
      cardNumber,
      cardName,
      month,
      year,
      cvvNumber,
      showError,
      showSuccess,
      errorMessage,
      successMessage,
      upgradeToPremium: async () => {
        if (!cardNumber.value || !cardName.value || !month.value || !year.value || !cvvNumber.value) {
          showError.value = true;
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (cardNumber.value.length !== 16) {
          showError.value = true;
          errorMessage.value = 'Card number is not valid!';
          return;
        }

        const response = await fetch(
          `${process.env.VUE_APP_API_URL}/user-api/update-to-premium.php`,
          {
            method: 'POST',
            credentials: 'include',
            body: formDataGenerator.generate({
              token: csrfToken.value,
              userId: props.userId,
              sessionId: props.sessionId,
              cardNumber: cardNumber.value,
              cardName: cardName.value,
              month: month.value,
              year: year.value,
              cvvNumber: cvvNumber.value,
            }),
          },
        );

        const body = await response.json();

        if (body.error) {
          showError.value = true;
          errorMessage.value = body.errorMessage;
          return;
        }

        if (body.success) {
          showSuccess.value = true;
          successMessage.value = 'Successfully upgraded to premium';
          await router.push('/');

          cardNumber.value = '';
          cardName.value = '';
          month.value = '';
          year.value = '';
          cvvNumber.value = '';
        }
      },
    };
  },
});
</script>

<style lang="scss">
.payment-form {
  h3, h2 {
    text-align: center;
  }
}

.icon-container {
  text-align: center;
  height: 40px;
}

.fa {
  padding: 3px;
}

.cvv-expiry {
  display: grid;
  grid-template-columns: auto auto ;
  gap: 30px;
}

.expiry-divider {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 30px;
}

.csv {
  width: 100px;
}

</style>
