<template>
  <div class="forum-post page">
    <div class="forum-post-container" v-if="post">
      <div class="forum-post-title">
        <h1>{{post.title}}</h1>
      </div>

      <div class="forum-post-text">
        <p>{{post.text}}</p>
      </div>

      <div class="forum-post-file" v-if="post.file_contents">
        <img :src="`data:image/jpg;base64, ${post.file_contents}`" />
      </div>
    </div>

    <div class="comments-section">
      <h2>Answers - {{answers ? answers.length : 0}}</h2>
      <ForumPostAnswer v-for="answer in answers" :key="answer.id" :answer="answer" />
    </div>

    <AddNewForumPostAnswer v-if="post" :postId="post.id" :sessionId="sessionId" :userId="userId" @commentAdded="reFetchComments"/>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, ref,
} from 'vue';
import { useRoute } from 'vue-router';
import formDataGenerator from '@/formDataGenerator';
import ForumPostAnswer from '@/components/forum/ForumPostAnswer.vue';
import AddNewForumPostAnswer from '@/components/forum/AddNewForumPostAnswer.vue';

export default defineComponent({
  name: 'ForumPost',
  components: {
    ForumPostAnswer,
    AddNewForumPostAnswer,
  },
  props: {
    sessionId: String,
    userId: String,
  },
  setup() {
    const route = useRoute();
    const postId = route.params.id;
    const post = ref<any>(undefined);
    const answers = ref<any>([]);

    fetch(`${process.env.VUE_APP_API_URL}/forum-api/get-post.php`, {
      method: 'POST',
      credentials: 'include',
      body: formDataGenerator.generate({
        postId,
      }),
    }).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          post.value = content.post;
        }
      });

    fetch(`${process.env.VUE_APP_API_URL}/forum-api/get-comments-for-post.php`, {
      method: 'POST',
      credentials: 'include',
      body: formDataGenerator.generate({
        postId,
      }),
    }).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          answers.value = content.comments;
        }
      });

    return {
      post,
      answers,
      reFetchComments: () => {
        fetch(`${process.env.VUE_APP_API_URL}/forum-api/get-comments-for-post.php`, {
          method: 'POST',
          credentials: 'include',
          body: formDataGenerator.generate({
            postId,
          }),
        }).then((response) => response.json())
          .then((content) => {
            if (content.success) {
              answers.value = content.comments;
            }
          });
      },
    };
  },
});
</script>

<style lang="scss">
.forum-post-text {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1em;
}
.forum-post-file {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.forum-post-file img {
  max-width: 600px;
  max-height: 600px;
}

.forum-post h2 {
  margin-top: 50px;
}
.input-container button {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
