<template>
  <div class="forum page">
    <div class="intro-container">
      <div class="intro-text">
        <h1>Forum</h1>
      </div>
    </div>

    <div v-if="posts">
      <ForumPostContainer v-for="post in posts" :key="post.id" :post="post" :sessionId="sessionId" :userId="userId" />
    </div>

    <QuestionBanner :sessionId="sessionId" :userId="userId" />
  </div>
</template>

<style lang="scss">

</style>

<script lang="ts">
import {
  defineComponent, ref,
} from 'vue';
import QuestionBanner from '@/components/layout/QuestionBanner.vue';
import ForumPostContainer from '@/components/forum/ForumPostContainer.vue';

export default defineComponent({
  name: 'Forum',
  props: {
    sessionId: String,
    userId: String,
  },
  components: {
    QuestionBanner,
    ForumPostContainer,
  },
  setup() {
    const posts = ref<any>(undefined);

    fetch(`${process.env.VUE_APP_API_URL}/forum-api/get-posts.php`, {
      method: 'POST',
      credentials: 'include',
    }).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          posts.value = content.posts;
        }
      });

    return {
      posts,
    };
  },
});
</script>
