<template>
  <div class="home">
    <!-- SPLASH SECTION -->
    <div class="splash-container"></div>

    <!-- TEXT SECTION -->
    <div class="home-text-container">
      <h1>We love web development</h1>
      <p>
        We've build a forum and learning platform for web developers like us. Be a member of WD Forum and increase your codeing skills, connect with others likeminded and build solutions that enable productivity, discovery, and
        creativity.
      </p>
    </div>

    <!-- MEMBERSHIP SECTION -->
    <!-- PREMIUM-->
    <div class="membership-container">
      <div class="membership">
        <span class="membership-category">PREMIUM</span>
        <p>Get full access to the learning platform and increase your codeing skills.</p>
        <h2>12DKK</h2>
        <div class="advantages">
          <p class="check-mark">&#10003;</p>
          <p>Full access to the forum</p>
          <p class="check-mark">&#10003;</p>
          <p>Full access to all courses</p>
          <p class="check-mark">&#10003;</p>
          <p>Take cool quizzes</p>
        </div>
        <div class="create-account">
          <a href="/sign-up"><button>Create an account</button></a>
        </div>
      </div>
      <!-- BASIC-->
      <div class="membership">
        <span class="membership-category">BASIC</span>
        <p>Do you have a question? Connect with our members in the forum.</p>
        <h2>FREE</h2>
        <div class="advantages">
          <p class="check-mark">&#10003;</p>
          <p>Full access to the forum</p>
          <p class="check-mark">&#10007;</p>
          <p>Full access to all courses</p>
          <p class="check-mark">&#10007;</p>
          <p>Take cool quizzes</p>
        </div>
        <div class="create-account">
          <a href="/sign-up"><button>Create an account</button></a>
        </div>
      </div>
    </div>
    <!-- STEPS SECTION -->
    <div class="steps-container">
      <div class="step" v-for="step in steps" v-bind:key="step.stepId">
        <img class="icon" :src="require(`../assets/front-page/icons/${step.stepIcon}`)" alt="icon" />
        <h3>{{step.stepH3}}</h3>
        <p>{{step.stepP}}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'Home',
  setup() {
    const steps = ref([
      {
        stepId: 1,
        stepH3: 'The Forum',
        stepP: 'Ask your questions and get answers from dedicated web developers. Read others question and submit your answer to help a friend in need.',
        stepIcon: 'Chat.png',
      },
      {
        stepId: 2,
        stepH3: 'WD learning',
        stepP: 'Take diffrerent kind of courses and become a better web developer. Watch our cool how-to videos or read information. Only available for Premium users.',
        stepIcon: 'online_school.png',
      },
      {
        stepId: 3,
        stepH3: 'Take our quizzes',
        stepP: 'Finish your lesson with a quiz and test your new knowledge. You can see your score from the quiz on your account. Only available for Premium users.',
        stepIcon: 'app_development.png',
      },
    ]);

    return {
      steps,
    };
  },
});
</script>

<style lang="scss">
.splash-container {
  top: 0;
  background-image: url("../assets/front-page/splash.jpg");
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 0 600px rgba(0, 0, 0, 0.609);
}
.home-text-container {
  width: 600px;
  margin: 50px auto 50px auto;
}
.home-text-container h1 {
  font-size: 40px;
}
.home-text-container p {
  font-size: 20px;
}
.membership-container {
  width: 800px;
  margin: 50px auto 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.membership {
  width: 300px;
  background-color: #0c2f39;
  border-radius: 5px;
  color: white;
  text-align: left;
  margin: 0 auto 0 auto;
  padding: 30px;
}
.membership-category {
  background-color: #fa9c06;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.membership h2 {
  font-size: 35px;
}
.advantages {
  display: grid;
  grid-template-columns: 0.3fr 3fr;
}
.advantages p {
  margin-top: 13px;
  margin-bottom: 0;
}
.check-mark {
  font-size: 18px;
  margin-bottom: 0;
}
.create-account {
  width: 100%;
  background-color: #ff9900;
  text-align: center;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}
.create-account button {
  width: 100%;
}
.steps-container {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  margin: 15px auto 20px auto;
}
.step {
  width: 300px;
  margin: auto;
}
.step > h3 {
  margin: 0;
  text-transform: uppercase;
}
.step > p {
  font-weight: 100;
}
.step > .icon {
  width: 100%;
  height: 100%;
  max-width: 180px;
}
</style>
