<template>
  <div class="Login-page page">
    <form @submit.prevent="login" class="Login-form login-signup-form">
      <h1>Login</h1>

      <div class="error" id="error" v-if="showError">{{errorMessage}}</div>

      <div class="form-contents">
        <label>
          <span>Username</span>
          <input type="text" placeholder="Username" v-model="username" />
        </label>

        <label>
          <span>Password</span>
          <input type="password" placeholder="Password" v-model="password" />
        </label>

        <p>Don't have an account? Sign up <a href="/sign-up">here</a>.</p>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, ref, onMounted,
} from 'vue';
import formDataGenerator from '@/formDataGenerator';
import router from '@/router';

export default defineComponent({
  name: 'Login',
  props: {
    sessionId: String,
  },
  setup(props, context) {
    const username = ref<string>('');
    const password = ref<string>('');
    const showError = ref<boolean>(false);
    const errorMessage = ref<string>('');

    onMounted(async () => {
      if (props.sessionId) {
        await router.push('/my-account');
      }
    });

    return {
      username,
      password,
      showError,
      errorMessage,
      login: async () => {
        if (!username.value || !password.value) {
          showError.value = true;
          errorMessage.value = 'All the fields needs to be fulfilled!';
          return;
        }

        const response = await fetch(
          `${process.env.VUE_APP_API_URL}/session-api/login.php`,
          {
            method: 'POST',
            credentials: 'include',
            body: formDataGenerator.generate({
              username: username.value,
              password: password.value,
            }),
          },
        );

        const content = await response.json();

        if (content.error) {
          showError.value = true;
          errorMessage.value = content.errorMessage;
          return;
        }

        if (content.success) {
          context.emit('update:sessionId', content.sessionId);
          context.emit('update:userId', content.userId);

          sessionStorage.setItem('sessionId', content.sessionId);
          sessionStorage.setItem('userId', content.userId);

          await router.push('/my-account');
        }
      },
    };
  },
});
</script>
