<template>
  <div class="MyAccount-page page">
    <div class="user-info-container">
      <h1 v-if="user">{{user.username}} <span>{{user.premium === '1' ? 'Premium user' : ''}}</span></h1>
      <router-link to="/edit-profile" v-if="user && user.premium === '0'">
        <button class="edit-button">Update to premium</button>
      </router-link>
    </div>

    <div class="progress-info" v-if="user && user.premium">
      <div class="completed-quizzes" v-if="diplomas">
        <h3>Completed Quizzes - {{diplomas.length}}</h3>
        <table v-if="diplomas.length">
          <tr>
            <th>Name</th>
            <th>Quiz score</th>
          </tr>
          <tr v-for="diploma in diplomas" :key="diploma.id">
            <td class="text-column">{{diploma.name}}</td>
            <td class="text-column">{{diploma.quizScore}}%</td>
          </tr>
        </table>
      </div>
    </div>

    <QuestionBanner :sessionId="sessionId" :userId="userId"/>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import router from '@/router';
import QuestionBanner from '@/components/layout/QuestionBanner.vue';
import formDataGenerator from '@/formDataGenerator';

export default defineComponent({
  name: 'MyAccount',
  components: {
    QuestionBanner,
  },
  props: {
    sessionId: String,
    user: Object,
    userId: String,
  },
  setup(props) {
    onMounted(() => {
      if (!props.userId || !props.sessionId) {
        router.push('/login');
      }
    });

    const diplomas = ref<any>([]);

    fetch(`${process.env.VUE_APP_API_URL}/diploma-api/get-diplomas.php`, {
      method: 'POST',
      credentials: 'include',
      body: formDataGenerator.generate({
        sessionId: props.sessionId,
        userId: props.userId,
      }),
    }).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          diplomas.value = content.diplomas;
        }
      });

    return {
      diplomas,
    };
  },
});
</script>

<style lang="scss" scoped>
.user-info-container h1 {
  display: inline-block;

  span {
    font-size: 16px;
    color: darkgoldenrod;
  }
}

.edit-button {
  margin: 10px;
  width: 200px;
}

.progress-info {
  width: 100%;

  h3 {
    margin-bottom: 1em;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;

    td {
      height: 3em;
    }

    th, td {
      border-bottom: 1px #EBE5E1 solid;
      text-align: center;

      &.image-column {
        width: 10%;
      }

      &.text-column {
        width: 45%;
      }

      img {
        width: 3.75em;
        height: 2.625em;
      }
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
</style>
