<template>
  <div class="Signup-page page">
    <form class="Signup-form login-signup-form" @submit.prevent="addNewUser" @input="showError = false">
      <h1 class="form-heading">Sign Up</h1>

      <div class="error" id="#error" v-if="showError">{{errorMessage}}</div>
      <div class="success" v-if="showSuccess">{{successMessage}}</div>

      <div class="form-contents">
        <label>
          <span>First name</span>
          <input type="text" placeholder="First name" v-model="firstName" />
        </label>

        <label>
          <span>Last name</span>
          <input type="text" id="last-name" placeholder="Last name" v-model="lastName" />
        </label>

        <label>
          <span>Username</span>
          <input type="text" placeholder="Username" v-model="username" />
        </label>

        <label>
          <span>Email</span>
          <input type="text" placeholder="Email" v-model="email" />
        </label>

        <label>
          <span>Password</span>
          <input type="password" placeholder="Password" v-model="password" />
          <span class="help-text">min. 8 characters, min. one capital letter, min. one digit</span>
        </label>

        <p>Do you already have an account? Login in <a href="/login">here</a></p>

        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, onMounted, ref,
} from 'vue';
import formDataGenerator from '@/formDataGenerator';
import router from '@/router';

export default defineComponent({
  name: 'Signup',
  props: {
    sessionId: String,
  },
  setup(props) {
    const firstName = ref<string>('');
    const lastName = ref<string>('');
    const username = ref<string>('');
    const email = ref<string>('');
    const password = ref<string>('');
    const showError = ref<boolean>(false);
    const showSuccess = ref<boolean>(false);
    const errorMessage = ref<string>('');
    const successMessage = ref<string>('');

    onMounted(async () => {
      if (props.sessionId) {
        await router.push('/my-account');
      }
    });

    return {
      firstName,
      lastName,
      username,
      email,
      password,
      showError,
      showSuccess,
      errorMessage,
      successMessage,
      addNewUser: async () => {
        if (!firstName.value || !lastName.value || !username.value || !password.value || !email.value) {
          showError.value = true;
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (!email.value.match(/@/)) {
          showError.value = true;
          errorMessage.value = 'Please enter a valid email address!';
          return;
        }

        if (password.value.length < 8) {
          showError.value = true;
          errorMessage.value = 'Password needs to be at least 8 characters!';
          return;
        }

        if (!password.value.match(/[A-Z]/g)) {
          showError.value = true;
          errorMessage.value = 'Password needs to contain at least a capital letter!';
          return;
        }

        if (!password.value.match(/[0-9]/g)) {
          showError.value = true;
          errorMessage.value = 'Password needs to contain at least one digit!';
          return;
        }

        const response = await fetch(
          `${process.env.VUE_APP_API_URL}/user-api/signup.php`,
          {
            method: 'POST',
            credentials: 'include',
            body: formDataGenerator.generate({
              firstName: firstName.value,
              lastName: lastName.value,
              username: username.value,
              email: email.value,
              password: password.value,
            }),
          },
        );

        const body = await response.json();

        if (body.error) {
          showError.value = true;
          errorMessage.value = body.errorMessage;
          return;
        }

        if (body.success) {
          showSuccess.value = true;
          successMessage.value = 'User was successfully created! Check your mail to validate yourself!';

          const mailResponse = await fetch(
            `${process.env.VUE_APP_API_URL}/email-api/send-email.php`,
            {
              method: 'POST',
              body: formDataGenerator.generate({
                message: `In order to validate your account please click this <a href="${process.env.VUE_APP_API_URL}/user-api/validate.php?id=${body.id}">link</a>.`,
                subject: 'Validation mail',
                emailTo: email.value,
                replyEmail: 'elearning.dbcamp@gmail.com',
                emailFrom: 'elearning.dbcamp@gmail.com',
                name: 'WDForum',
              }),
            },
          );

          const mailResponseBody = await mailResponse.json();

          if (mailResponseBody.error) {
            showError.value = true;
            errorMessage.value = mailResponseBody.errorMessage;
            return;
          }

          firstName.value = '';
          lastName.value = '';
          username.value = '';
          email.value = '';
          password.value = '';
        }
      },
    };
  },
});
</script>
